<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

    
 <title>Survey System</title>
</head>
<body>
	<div class="container">
        <h1>
            <!-- include image from static resources -->
            <img th:src="@{/img/survey.png}" alt="memorynotfound logo"/>
        </h1>
        <a th:href="@{/home}"  class="btn btn-primary">Home</a>
                <a th:href="@{/footballresults}"  class="btn btn-primary">Football Team Survey</a>
        <a th:href="@{/satisfactionresults}"  class="btn btn-primary">Satisfaction Survey</a>
				
    </div>
	
	
</body>
</html>